<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="common">
        <link rel="stylesheet" th:href="./bootstrap-3.4.1-dist/css/bootstrap.css">
        <link rel="stylesheet" th:href="./layui/css/layui.css">
        <script type="text/javascript" th:src="./jquery-2.1.4.js"></script>
        <script type="text/javascript" th:src="./layui/layui.js"></script>
        <script type="text/javascript" th:src="./mylayer.js"></script>
    </div>
</body>
</html>